<mat-sidenav-container class="example-container">

  <mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
      <div class="example-sidenav-content">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span>Hardware Buddy</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    
    <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  
</mat-drawer-container>
</mat-sidenav-container>